.title {
    font-family: 'Garamond', serif;
    font-size: 2.5em;
    text-align: center;
    margin-top: 0px;
    color: #eeeeee;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 430px;
}

p {
    font-family: 'Arial', sans-serif;
    font-size: 1em;
    text-align: justify;
    margin-top: 30px;
    color: #eeeeee;
}

p.quote {
    font-style: italic;
    font-family: garamond, serif;
    text-align: left;
    margin-top: 20px;
}

p.quote-author {
    font-family: garamond, serif;
    margin-top: 5px;
    font-weight: normal;
    text-align: right;
    margin-top: -10px;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.exhib {
    text-decoration: none;
    color: #eeeeee;
}

.space {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#counter {
    font-size: 5em;
    margin-top: -10px;
    margin-bottom: -20px;
}

#top-text, #bottom-text {
    font-size: 1.2em;
    font-family: 'Garamond', serif;
}

#punch{
    font-family: 'Garamond', serif;
    font-size: 1.2em;
    text-align: center;
}

h3 {
    color: #eeeeee;    
}

body {
    background-color: #000000;
    display: flex;
    justify-content: center;
}

@media (max-width: 480px) {
    .container {
        max-width: 320px;
    }

    .title {
        font-size: 2em;
    }
}

@media (max-width: 360px) {
    .container {
        max-width: 85%;
    }

}